* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1604339454409-701c5278c546?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.navbar {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    padding: 0.625rem 1.25rem;
    backdrop-filter: blur(0.625rem);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
    /* border-radius: 10.3125rem;  */
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 1.25rem; /* Adjust margin for equal spacing */
    margin-right: 1.25rem; /* Adjust margin for equal spacing */
}

.navbar a i {
    margin-top:1%;
    margin-right: 0.3125rem; 
}

.navbar a.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.log_in {
    padding-right: 10px; /* Adjust the padding value as needed */
}


/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color:white;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown button when hovering over the dropdown content */
.dropdown:hover .dropbtn {
    background-color: #ccc;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 1.5rem;
    display: flex;
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    height: 7rem;
    justify-content: center;
    align-items: center; /* Changed to align-items for centering */
}

.section {
    background-color: rgba(240, 248, 255, 0.02);
    margin: 0.5rem;
    padding: 2rem;
    line-height: 2rem; /* Adjusted line-height for responsiveness */
    text-align: justify;
    border: 0.07rem solid rgba(240, 248, 255, 0.05);
    border-radius: 0.6rem;
}

.section p {
    line-height: normal;
    font-size: 1.1rem;
}

.section:hover {
    box-shadow: 1px 1px 10px rgba(240, 248, 255, 0.05);
}

.points p {
    line-height: 3rem;
}

h2 {
    text-align: center;
    margin: 1rem;
    font-size: 2.5rem;
}

#end {
    padding-top: 1rem;
    text-align: center;
}

/* Media queries for responsiveness */

    
@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between; /* Adjust alignment */
        padding: 0.625rem 0.9375rem; /* Adjust padding */
    }
    
    .navbar a {
        margin-left: 0.625rem; /* Adjust margin */
        font-size: 0.875rem; /* Adjust font size */
    }
    
    .navbar a.logo {
        font-size: 1.25rem; /* Adjust font size */
    }
    h1 {
        font-size: 2rem; /* Adjust font size for smaller screens */
        height: 5rem; /* Adjust height for smaller screens */
    }

    .section {
        padding: 1.5rem; /* Adjust padding for smaller screens */
        line-height: 1.8rem; /* Adjusted line-height for smaller screens */
    }

    h2 {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* Further adjust font size for smaller screens */
        height: 4rem; /* Further adjust height for smaller screens */
    }

    .section {
        padding: 1rem; /* Further adjust padding for smaller screens */
        line-height: 1.5rem; /* Further adjusted line-height for smaller screens */
    }

    h2 {
        font-size: 1.5rem; /* Further adjust font size for smaller screens */
    }
}
