


body {
  font-family: "Vollkorn", serif;
  background-image: url("https://images.unsplash.com/photo-1604339454409-701c5278c546?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

h1 {
  font-family: "Vollkorn", serif;
  font-size: 3rem;
  text-align: center;
  color:white;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Glass effect background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8); /* Glass effect input background */
  color: #333;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.task-container {
  max-width: 500px;
  margin: 20px auto; /* Center the task container */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Glass effect background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center; /* Center text inside the container */
}

.task{
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
}


#task_content {
  padding: 10px;
  flex: 1;
  border-radius: 8px;
  font-size: larger;
}

#task-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 15rem;
}

#taskForm{
  color:#040406;
  font-family: "Noto Serif Toto", serif;
  background-color: #a0a0a0;
}

#task-buttons button {
  font-size: 1rem;
  margin: 0 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 4rem;
}

#task-buttons button:hover {
  background-color: #0056b3;
}
