


body {
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to bottom right, #333, #000);  */
  background-image: url("https://images.unsplash.com/photo-1604339454409-701c5278c546?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}


.navbar {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff;
  padding: 0.625rem 1.25rem;
  backdrop-filter: blur(0.625rem);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
  /* border-radius: 10.3125rem;  */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 1.25rem; 
}


.navbar a i {
  margin-top:1%;
  margin-right: 0.3125rem; 
}

.navbar a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.log_in {
  padding-right: 10px; /* Adjust the padding value as needed */
}


      
      /* Dropdown Button */
      .dropbtn {
          background-color: transparent;
          color:white;
          border: none;
          cursor: pointer;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
          background-color: #f1f1f1;
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
          display: block;
      }
      
      /* Style the dropdown button when hovering over the dropdown content */
      .dropdown:hover .dropbtn {
          background-color: #ccc;
      }
h1 {
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 3rem;
  text-align: center;
  color:white;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Glass effect background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8); /* Glass effect input background */
  color: #333;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.task-container {
  max-width: 500px;
  margin: 20px auto; /* Center the task container */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Glass effect background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center; /* Center text inside the container */
}

.task{
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

#task_content {
  padding: 10px;
  flex: 1;
  border-radius: 8px;
  font-size: larger;
}

#task-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 15rem;
}

#taskForm{
  color:#040406;
  font-family: "Noto Serif Toto", serif;
  background-color: #a0a0a0;
}

#task-buttons button {
  font-size: 1rem;
  margin: 0 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 4rem;
}

#task-buttons button:hover {
  background-color: #0056b3;
}


