<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',path='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Cantata+One&family=Kurale&display=swap" rel="stylesheet">
<script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Login</title>
</head>
<body>
    <div class="navbar">
 
        <a href="/"><i class="ph-thin ph-house"></i>Home</a>
        <a href="/about"><i class="ph-thin ph-user-circle"></i>About Us</a>
        <div class="dropdown">
            <button class="dropbtn"><i class="ph-thin ph-package"></i>Services</button>
            <div class="dropdown-content">
                <a href="#footer">Contact Us</a>
               
                <div id="userLinks">
                    <!-- Placeholder for dynamic content -->
                </div>
                <a href="/tasks">Tasks</a> <!-- New "Tasks" option -->
            </div>
        </div>
        <a href="/access-account/login" class="log_in">Log In / SignUp</a>
    </div>
    
    <div class="login-container">
        <h2>Welcome to Volunteer Village</h2>
        <label for="role"></label>
        <br>
            <select name="role"></option>
                <option value="Oraganiser">Organiser</option>
                <option value="Volunteer">Volunteer</option>
            </select>
        <form action="#" method="post">
            
            <input type="text" id="Email" placeholder="Email ID" required>
            <input type="password" name="password" placeholder="Password" required>
            
            <input type="submit" value="Login">
            
            
        </form>
        <div class="signup-link">
            Don't have an account? <a href="/access-account/signup">Sign Up</a>
        </div>
    </div>
</body>
  <script src="{{ url_for('static',path='js/login.js') }}"></script>
</html>
