<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Cantata+One&family=Kurale&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/signup2.css">
    <title>Sign-up</title>
</head>
<body>
    <div class="signup-container">
        <h2>Volunteer Village Signup</h2>
        <form action="submit_form" method="post">
            <div class="form-group">
                <label for="signup_type">Signup As:</label>
                <select id="signup_type" name="signup_type">

                    <option value="None" selected disabled>Select role</option>
                    <option value="organiser">Organiser</option>
                    <option value="volunteer">Volunteer</option>
                </select>
            </div>

            <div id="organiser_fields" class="form-group" style="display:none;">
                <label for="organisation_name">Organisation Name:</label>
                <input type="text" id="name" name="organisation_name">
                <label for="organisation_email">Organisation Email:</label>
                <input type="text" id="email" name="organisation_email">
                <label for="organisation_name">Organisation Phone Number:</label>
                <input type="text" id="number" name="organisation_number">
                <label for="password">Enter Password:</label>
                <input type="password" id="organisation_password" name="organisation_password">

            </div>

            <div id="volunteer_fields" class="form-group" style="display:none;">
                <label for="volunteer_name">Name:</label>
                <input type="text" id="volunteer_name" name="volunteer_name">
                <label for="volunteer_mail">Email:</label>
                <input type="text" id="volunteer_email" name="volunteer_email">
                <label for="volunteer_number">Number:</label>
                <input type="number" id="volunteer_number" name="volunteer_number">
                <label for="city">Choose a state:</label>
                <select id="indian_state" name="indian_state" required >
                    <option value="None" selected disabled>Select state</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Puducherry">Puducherry</option>
                </select>
                <label for="volunteer_city">City:</label>
                <input type="text" id="volunteer_city" name="volunteer_city">
                <label for="password">Enter Password:</label>
                <input type="password" id="volunteer_password" name="organisation_password">
                
            </div>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
<script src="../static/js/signup2.js"></script>
</html>
